services:
  server:
    build: .
    container_name: rpc_server
    command: ./bakery_server
    networks:
      - rpc_net

  client:
    build: .
    container_name: rpc_client
    command: sh -c "sleep 20 && ./bakery_client server"
    depends_on:
      - server
    networks:
      - rpc_net

networks:
  rpc_net:
    driver: bridge